<!doctype html>
<html ng-app="myList">
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-controller="myCtrl">
<script>
    var app = angular.module("myList", []);
    app.controller("myCtrl", function ($scope) {
        $scope.counter = 0;
        $scope.innerValue = 'wartość w środku';
        $scope.products = [
            {name: 'product 1', visible: true},
            {name: 'product 2', visible: true},
            {name: 'product 3', visible: false},
            {name: 'product 4', visible: true}
        ];
    });
</script>
<h2>Products</h2>
<div ng-repeat="product in products">

    <h3 ng-if="product.visible">
        {{ product.name }}
    </h3>

</div>

<button ng-click="counter = counter+1" >Click me!</button>
<p>clicked {{ counter }} times! <span ng-bind="counter"></span></p>
<p>Test hidden </p><div ng-hide="true">ukryta prawda</div>

</body>
</html>